test.py
test.ipynb
uid_config.json
__pycache__/X1API.cpython-310.pyc
__pycache__/Gira_Classes.cpython-310.pyc
.ipynb_checkpoints/test-jvsc-98038d6f-aa55-4d68-b3c9-553a0f33cdde2c5c4102-48b3-4f26-bfad-3bbbb933694e-checkpoint.ipynb
.gitignore

